<div class="col-lg d-flex align-items-stretch">
	<div class="card" style="margin-top: 10px;">

	<div class="card-body" routerLink="/product-detail/{{product.itemId}}">
	  <h5 class="card-title">{{product.name}}</h5>
	  <p class="card-text">
		{{product.desc}}
	  </p>

	  
	  <h6 class="productFeatures">Features</h6>
	  <span class="productFeaturesDesc">{{product.features}}</span>

	  <div class="float-end">
		<a href="#" class="float-right btn btn-info" routerLink="/product-detail/{{product.itemId}}">
		  Read More 
		</a>
	  </div>
	  
	</div>
	<div class="card-footer">
	  <small class="text-muted">{{product.price | currency}}</small>

	</div>
  </div>
</div>





