<!-- Hero 6 - Bootstrap Brain Component -->
<section>
    <div >
      <div class="row">
        <div class="col-12" style="color: white;">
          <div class="container-fluid bsb-hero-6 bsb-overlay border border-dark" style="--bsb-overlay-opacity: 0.5; --bsb-overlay-bg-color: var(--bs-light-rgb); 
                background-image: url('../../assets/images/hero.png'); height: 500px; ">
            <div class="row justify-content-md-center align-items-center">
              <div class="col-12 col-md-11 col-xl-10">
                <br><br><br>
                
                
                
                <h2 class="heroTitle display-1 text-center text-md-start text-shadow-head fw-bold mb-4">Drive with Confidence
                <br>Protect What Matters!</h2>
                <p class="lead text-center text-md-start text-shadow-body mb-5 d-flex justify-content-sm-center justify-content-md-start">
                  <span class="heroText col-12 col-sm-10 col-md-8 col-xxl-7"> Let's get started with yours..</span>
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center justify-content-md-start">
                  <a href="#" routerLink="/products" class="btn bsb-btn-2xl btn-outline-light">Explore our plans</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
 
<div class="border">
<!-- Services Section -->
<section id="services" class="py-5">
    <div class="container">
        <div>
            <span style="font-size: large;">
                Parasol Insurance is a trusted provider of comprehensive car insurance solutions, dedicated to offering
                affordable, reliable, and personalized coverage to drivers. With a focus on customer satisfaction,
                Parasol Insurance combines innovative digital tools with exceptional customer service, ensuring seamless
                claims processes, flexible policy options, and tailored protection plans. Whether you’re looking for
                basic liability coverage, full comprehensive protection, or specialized options like roadside
                assistance, Parasol Insurance has you covered—helping you drive with confidence every mile of the way.
            </span>
        </div>
        <br><br>
        <h2 class="section-title">Our Popular Insurance Plans</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Liability Essential</h5>
                        <p class="card-text">Protects you from legal claims if you're responsible for an accident.
                            Covers bodily injury and property damage.</p>
                            <a href="#" routerLink="/product-detail/329299" class="btn btn-primary">View plan</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Comprehensive Shield</h5>
                        <p class="card-text">Covers non-collision events like theft, fire, and natural disasters. Ideal
                            for full vehicle protection.</p>
                            <a href="#" routerLink="/product-detail/165614" class="btn btn-primary">View plan</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Roadside Assistance Care</h5>
                        <p class="card-text">24/7 roadside help, including towing, flat tire repair, and emergency fuel
                            delivery.</p>
                            <a href="#" routerLink="/product-detail/RHNL-009" class="btn btn-primary">View plan</a>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>






<!-- Contact Section -->
<section id="contact" class="py-5">
    <div class="container">
        <h2 class="section-title">Contact Us</h2>
        <div class="border p-3">
        <div class="row">
            <div class="col-md-6">
                <h5>Address</h5>
                <p>123 Insurance St, Suite 100<br>City, State, ZIP</p>
            </div>
            <div class="col-md-6">
                <h5>Email</h5>
                <p>support@parasol.com</p>
            </div>
        </div>
    </div>
    </div>
</section>
</div>